# Authentifizierung
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Datenbank
DATABASE_URL=postgresql://user:password@localhost:5432/abi2029

# NextAuth
NEXTAUTH_PROVIDERS_GITHUB_ID=your-github-id
NEXTAUTH_PROVIDERS_GITHUB_SECRET=your-github-secret

# Root Admin
ROOT_ADMIN_EMAIL=admin@maria-waechter-gymnasium.de
